<h2>What is Computer Science?</h2>

<img class="float-right" src="img/cs.png">
<h4>What is computer science?</h4>
<p>Computer science is like creating a recipe. You create a recipe for a cook; you create an program for a computer. When the cook is following your recipe, you are not there to make corrections so your recipe must be complete and understandable. When the computer is executing your program, it needs even more precision because it cannot guess what you meant. You can tell a cook to bring water to a boil because the cook understands what "boiling" means. But a computer is a complete newcomer and would also need instructions on how to heat the water and determine when the water has begun to boil. In order to give computers specific instructions, computer scientists learn programming languages which they use to speak to the computer.</p>

<h4>What can computer science do?</h4>
<p>The problems solved by computer scientists are broad. How can we predict which stocks to invest in? How can we translate a phrase from French to English? How can we protect children from online predators? How can we write original music scores? It's hard to imagine giving very precise instructions for completing these tasks, but that is precisely what is done in computer science. Computer science gives the skills to take a big problem, break it down into manageable chunks, and use various approaches to solve the problem.</p>

<h4>What isn't computer science?</h4>
Computer scientists are not the people at the IT help desk who help you use or fix your computer. They are also not the people who build your computer in the first place. Computer scientists are primarily the people creating software like Photoshop, Angry Birds, or G-mail.

<h4>Why should I try programming?</h4>
Learning to program provides individuals with a framework for solving problems. This framework is general and applicable to many fields. Programming make you a competent problem solver. As technology becomes pervasive in our lives, programming is a valuable technical skill in any profession. Programming is also a very empowering skill that will give you the confidence to tackle interesting problems.

<h4>Just try it!</h4>
<p>At BYU, the introductory computer programming course is CS 142. For those taking the course, keep in mind the following.</p>
<ul>
	<li>You probably won't get it right the first time. Even experienced computer scientists make mistakes in the programs they write. The key is to get better at finding your mistakes.</li>
	<li>Time, practice and desire have been shown to be more important than prior experience for being successful in this course. Most of the students in the course are newcomers. If you talk to those in your course often enough, you'll find that everyone gets confused sometimes.</li>
	<li>Programming takes planning. Make sure you can explain your solution in English before you start coding. Start with an outline and fill it in as you go.</li>
	<li>If you don't understand the problem or can't figure out how to outline your solution, talk to the TAs. Chances are you're not the only one who is confused. The TAs have all been in your position before and understand the difficulty of mastering new material.</li>
</ul>